* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://cdn.superaficionados.com/imagenes/hogwarts-1.jpg);
}
p{
    font-weight: bold;
}

h1 {
    text-align: center;
}

header {
    padding-top: 36px;
    height: 150px;
}

.contenedorA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.primero,
.segundo,
.tercero,
.cuarto {
    border: 2px solid;
    height: 700px;
    width: 400px;
    background-size: 400px 400px;
    margin: 10px;
    text-align: center;
    padding-top: 50px;
}

.primero h2,
.segundo h2,
.tercero h2,
.cuarto h2 {
    margin-top: 10px;
}

.primero,
.tercero,
.cuarto{
    height: 400px;
    width: 400px;
}

.primero {
    background-image: url(https://i.pinimg.com/564x/f8/2e/c7/f82ec72ebc2453d7e56fc1a3fa628a91.jpg);
}

.segundo {
    background-image: url(https://i.pinimg.com/564x/d3/a4/14/d3a414711da97013471b9b06060cf39f.jpg);
}

.tercero {
    background-image: url(https://i.pinimg.com/564x/83/1a/0b/831a0b355b0bb9f3d44d73b1618d586e.jpg);
}

.cuarto {
    background-image: url(https://i.pinimg.com/564x/1e/5e/39/1e5e39648cab7289b8e3eacb4ab889fe.jpg);
}